html
	head
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
		script(src="https://fb.me/react-0.13.3.js")
		script(src="https://fb.me/JSXTransformer-0.13.3.js")
	body
		script(src="./../bundle.js")
		
		div#container
			h1.heading HighCharts
		
		div#footer
			Copyright @myntra	


